<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh;">
    <h1 style="color: green; background-color: black; padding: 10px;">This is about page</h1>
</body>
</html>