<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/index.css">
</head>
<body>
    <div style="display: flex; flex-direction: column; gap: 5vh;">
        <form action="/send" method="post">
            <input name="username" type="text" placeholder="Enter your username..">

            <input name="email" type="email" placeholder="Enter your email..">

            <input name="password" type="password" placeholder="Enter you password..">

            <label>
                <input type="radio" name="gender" value="Male">
                Male
            </label>
            
            <label>
                <input type="radio" name="gender" value="Female">
                Female
            </label>

            <label>
                <input type="radio" name="gender" value="Other">
                Other
            </label>

            <button>Submit</button>
        </form>
    </div>
</body>
</html>